@media only screen and (min-width:700px){
    .id{
        position:fixed;
        height:750px;
        width:1300px;
        margin-left:-900px;
        margin-top:10px;
        background-color: rgb(227, 219, 211);
    }
    .container{
        background-color: rgb(227, 219, 211);
        margin-left:100px;
        margin-left:-10px;
    }
}
.container{
    background-color: rgb(227, 219, 211);
}
     
     